@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: black;
    background-color: #ced6e0;
    font-family: 'Newsreader', serif;
}
.display {	
    display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
    font-size: 38px;
}
.gname {	
    position: absolute;
	top: 0;
	font-size: 4rem;
	z-index: 2;
}
.score {
	display: flex;
	width: 30vw;
	justify-content: space-evenly;
	position: absolute;
	top: 12%;
	z-index: 1;
}
.h-count,.r-count{
	text-align: center;
	font-size: 3.5rem;
	margin-top: 3rem;
}
.moves {
	font-size: 2rem;
	font-weight: bold;
    margin-top: 2%;
}
.remaining {
    font-size: 18px;
    font-weight: bold;
}
.choices {
	display: flex;
	width: 40vw;
	justify-content: space-evenly;
	margin-top: 2rem;
}
/* Rock Paper & Scissor buttons*/
.rock, .paper, .scissor {
	padding: 2rem;
    margin: 1rem;
	width: 200px;
	border-radius: 10px;
	background: white;
	outline: none;
	border: none;
	cursor: pointer;
}
